body
{
	background: darkblue;
}

	.login_div1 , .login_div2
	{
		background: rgba(255, 255, 0, 0.87);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

#head{
    color: white;
}